<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="0.0.0.0"/>
    <add key="port" value="7979"/>
    <add key="maxConnections" value="2000"/>
    <add key="bufferSize" value="1024"/>
    <add key="backlog" value="100"/>
  </appSettings>
</configuration>